.book-name {
  height: 40px;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.productinfo {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.product-info {
  display: flex;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 0;
}

/* .product-image-wrapper{
    max-width: 50%;
} */

.ts-header-cus > a {
  background-color: white !important;
  padding: 12px 25px;
}
.ts-header-cus > a:hover,
.ts-header-cus > a:focus {
  background-color: white !important;
  color: #f7931e !important;
  border: 1px solid #f7931e;
  border-radius: 5px;
  transform: none;
  transition: none;
}
.tab-title div ul li a.active {
  color: #f7931e !important;
  border: 1px solid #f7931e;
  border-radius: 5px;
}
.price {
  line-height: 1.65rem;
  font-size: 1.65rem !important;
  color: #c92127;
  font-weight: 600;
}
.ma-box-content {
  display: flex;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #000000;
}
.girdslider-menu-item-aaa,
.girdslider-menu-item-aaa:hover,
.girdslider-menu-item-aaa:focus {
  border: none !important;
}
.tab-title ul li {
  padding: 0;
}
.categorytab-slider .product-image {
  width: 165px;
  height: 165px;
}

@media screen and (max-width: 768px) {
  .categorytab-slider .product-image {
    width: 133px;
    height: auto;
  }
}
@media screen and (max-width: 572px) {
  .categorytab-slider .product-image {
    width: 100px;
    height: auto;
  }
  .ma-box-content .products {
    margin: 0;
  }
}
@media screen and (max-width: 425px) {
  .categorytab-slider .product-image {
    width: 80px;
    height: auto;
  }
  .ma-box-content .products {
    margin: 0;
  }
  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.item-inner .price-label {
  height: 2.5rem;
}
